{% block content %}
<div class="container">
    <h1>Welcome, {{ user.username }}!</h1>
    <h2>Your Collaboration Listings:</h2>
    <div class="row">
        {% for job in jobs %}
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Title: {{ job[1] }}</h5>
                    <p class="card-text">Description: {{ job[2] }}</p>
                    <p class="card-text">Skills Required: {{ job[4] }}</p>
                    <p class="card-text">Posted Date: {{ job[6] }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
